/*Variables*/
/*Imports*/
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.nav-index {
  display: flex;
  background-color: black;
  justify-content: space-between;
  width: 100%; }
  .nav-index img {
    width: 100px;
    margin: 5px;
    margin-left: 15px; }
  .nav-index ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav-index ul li {
      margin: 15px;
      margin-bottom: 0px;
      color: white; }
      .nav-index ul li a {
        font-size: 17px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500; }

.slide .carousel-inner {
  width: 100%;
  height: 600px; }
  .slide .carousel-inner .carousel-item {
    height: 600px; }
    .slide .carousel-inner .carousel-item img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*Tarjetas*/
.main-colecciones {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .main-colecciones .title-main {
    margin-top: 20px;
    margin-bottom: 40px; }
    .main-colecciones .title-main h1 {
      color: black;
      text-align: center;
      font-size: 52px;
      font-weight: 200;
      letter-spacing: 2px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .main-colecciones .tarjetas-main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between; }
    .main-colecciones .tarjetas-main .tarjeta-1 {
      width: 100%;
      margin-right: 80px;
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px; }
      .main-colecciones .tarjetas-main .tarjeta-1 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-1 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .main-colecciones .tarjetas-main .tarjeta-2 {
      margin-left: 80px;
      margin-right: 80px;
      width: 100%;
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px; }
      .main-colecciones .tarjetas-main .tarjeta-2 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-2 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .main-colecciones .tarjetas-main .tarjeta-3 {
      margin-left: 80px;
      width: 100%;
      border: 5px solid black;
      box-shadow: 6px 6px 6px 6px #7f7d7d;
      border-radius: 10px; }
      .main-colecciones .tarjetas-main .tarjeta-3 img {
        width: 100%;
        border-radius: 5px; }
      .main-colecciones .tarjetas-main .tarjeta-3 h5 {
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/*Segunda seccion*/
.background {
  background-image: url(../img/main-marcas/imagen-fondo.jpg);
  background-attachment: fixed;
  /*Marcas*/
  /*Productos*/ }
  .background .marcas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    margin-top: 60px;
    height: 200px; }
    .background .marcas .title-marcas h2 {
      font-size: 38px;
      font-weight: 200;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .background .marcas .marcas-img img {
      width: 130px;
      height: 80.5px;
      margin: 30px; }
    .background .marcas .marcas-img .img-1 {
      margin-right: 70px; }
    .background .marcas .marcas-img .img-2 {
      width: 150px;
      height: 100px;
      margin-left: 70px;
      margin-right: 70px; }
    .background .marcas .marcas-img .img-3 {
      margin-left: 70px; }
  .background .productos {
    background-color: white;
    margin-top: 400px;
    padding-top: 60px; }
    .background .productos .titulo-productos h2 {
      margin-bottom: 50px;
      color: black;
      text-align: center;
      font-size: 52px;
      font-weight: 200;
      letter-spacing: 2px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
    .background .productos .productos-img {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1900px;
      justify-content: space-around;
      gap: 20px; }
      .background .productos .productos-img .card-one {
        width: 420px; }
        .background .productos .productos-img .card-one img {
          width: 100%;
          height: 315px; }
      .background .productos .productos-img .card-two {
        width: 420px; }
        .background .productos .productos-img .card-two img {
          width: 100%; }
      .background .productos .productos-img .card-three {
        width: 420px; }
        .background .productos .productos-img .card-three img {
          width: 100%; }
      .background .productos .productos-img .card-four {
        width: 420px; }
        .background .productos .productos-img .card-four img {
          width: 100%; }
